matplotlib
numpy
scikit_image
scikit_learn
streamlit
pillow
nltk
sklearn_crfsuite
spacy
spacy-streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl#egg=en_core_web_trf==3.0.0
